<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.linkedin.com/in/david-kodjo-attipoupou-b0b3191b7/">david Attipoupou</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
  
</div>